@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #F5F5F7;
    max-height: 100vh;
    overflow-y: auto;
    position: relative;
    font-family: 'inter', sans-serif;
}

#app {
    position: relative;
    overflow-y: hidden;
    min-height: 100vh;
}

.bottom-vector {
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}
h1 {
    color: #000;
    text-align: center;
    font-family: 'obviously', sans-serif;

    font-size: 30px;
    font-style: normal;
    font-weight: 570;
    line-height: 42px;
    margin-bottom: 50px;
}
h1.intro-heading {
    color: #000;
    font-family: 'obviously', sans-serif;

    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 20px;
    text-align: left;
}
h1.intro-heading span {
    display: block;
    color: #000;
    font-family: 'obviously', sans-serif;

    font-size: 60px;
    font-style: normal;
    font-weight: 570;
    line-height: 75px;
}
h1 .emoji {
    width: 36px;
}
h2 {
    font-family: 'obviously', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'obviously', sans-serif;
}

h4 {
    font-family: 'obviously', sans-serif;
}

p {
    font-size: 14px;
}

.intro-selection h2 {
    color: #000;
    font-family: 'obviously', sans-serif;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}
.intro-selection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
}

.intro-selection__buttons button {
    background-color: #4a74eb;
    color: #ffffff;
    padding: 15px 26px 15px 26px;
    margin-right: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 72px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    transition: 0.25s ease;
    font-weight: 400;
    font-size: 20px;
    font-family: 'obviously', sans-serif;
}
.intro-selection__buttons button:hover {
    background-color: #194fe6;
}
.intro-selection__buttons button.button--parent {
    background-color: #ff714b;
}
.intro-selection__buttons button.button--parent:hover {
    background-color: #ef5830;
}
.intro-selection__buttons button img {
    width: 2rem;
    margin-right: 1rem;
}
@media (max-width: 576px) {
    .intro-selection__buttons button {
        width: 100%;
        white-space: nowrap;
        font-size: 16px;
    }
    .benefit-btn {
        width: 100%;
        justify-content: center;
    }
}
.intro-visual {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
}
.teacher-visual {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 10;
    transform-origin: bottom right;
}
.classroom-visual {
    position: fixed;
    bottom: 0;
    right: -110px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    max-width: 60%;
}
.line-behind-classroom {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.brand-logo {
    display: block;
    margin: 50px auto;
    width: 100%;
}
.brand-logo--mobile {
    display: none;
}
.brand-logo img {
    display: block;
}
.back-button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 75px;
}
.back-button img {
    max-width: 100%;
}

.progress__wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
}
.progress {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    width: 100%;
    height: 14px;
    position: relative;
}
.progress__count {
    margin-left: auto;
    margin-bottom: 8px;
}
.completeness {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(74, 116, 235, 1);
    border-radius: 12px;
    transition: width 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}
@media (max-width: 576px) {
    h1.intro-heading span {
        font-size: 48px;
        line-height: 1.3;
    }
}

input[type='checkbox'] {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    opacity: 0;
    cursor: pointer;
}
input[type='checkbox']:checked + .custom-checkbox {
    display: none;
}
.custom-checkbox-checked {
    display: none;
}
input[type='checkbox']:checked ~ .custom-checkbox-checked {
    display: block;
}
.container {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    z-index: 10;
    position: relative;
}
.container .brand-logo img {
    margin: 0 auto;
}
.container--intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 112px;
    margin-bottom: 112px;
    margin-left: 127px;
    min-height: calc(100vh - 224px);
    width: 50%;
    max-width: 700px;
}
.container--intro .brand-logo {
    margin-bottom: 0;
}
.answer__container {
    display: block;
    margin: 0 auto;
    padding-bottom: 60px;
    max-width: 600px;
}
.answer__buttons-wrapper {
    display: grid;
    gap: 35px 25px;
}
.answer__buttons-wrapper .answer__btn {
    width: 100%;
    justify-content: center;
    min-height: 70px;
}
.answer__container--wide {
    max-width: 700px;
}
.answer__container .answer__btn {
    min-height: 70px;
}
.grade .answer__btn {
    min-height: unset;
    margin: 0px;
    padding: 11px;
    font-size: 24px;
}
@media (max-width: 560px) {
    .grade .answer__btn {
        padding: 7px;
        font-size: 17px;
    }
}
.answer__btn {
    color: #000;
    text-align: center;
    font-family: 'obviously', sans-serif;

    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    width: 100%;
    padding: 10px 20px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #ffffff;
    transition: 0.25s ease;
}

.answer__btn:hover,
.answer__btn.selected {
    border: 3px solid #4a74eb;
}
.answer__btn span {
    margin-right: 15px;
    display: flex;
    align-items: center;
    position: relative;
}
.answer__btn span img {
    min-width: 50px;
    z-index: 1;
}
.digi-input {
    font-family: 'obviously', sans-serif;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    color: #777777;
    padding: 26px;
    border-radius: 16px;
    border: 1.333px solid #b8b8b8;
    background: #fff;

    display: block;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}
.digi-input::placeholder {
    font-family: 'obviously', sans-serif;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;

    color: #b8b8b8;
}

/* Benefit1 */
.benefit-heading {
    color: #000;
    font-family: 'obviously', sans-serif;

    font-size: 50px;
    font-style: normal;
    font-weight: 570;
    line-height: 65px;
    text-align: left;
}
@media (max-width: 576px) {
    .benefit-heading {
        font-size: 35px;
        line-height: 1.3;
    }

    .benefit-row .content p {
        font-size: 16px !important;
        line-height: 24px !important;
    }
}
.benefit-container {
    width: 50%;
}
.benefit-container .benefit-btn {
    margin-top: 40px;
    margin-left: 0;
}
.benefit-row {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    z-index: 20;
}
.benefit-row .icon {
    align-self: center;
    padding-right: 20px;
}

.benefit-row .content p {
    color: #000;
    font-family: 'obviously', sans-serif;

    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
.benefit-row .content p strong {
    font-weight: 600;
}
.benefit-btn {
    font-family: 'obviously', sans-serif;

    font-size: 20px;
    font-style: normal;
    font-weight: 40;
    line-height: 28.6px;
    display: flex;
    align-items: center;
    height: 65px;
    padding: 0 25px;
    background-color: rgba(74, 116, 235, 1);
    border-radius: 75px;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;

    margin-top: 100px;
    position: relative;
    z-index: 10;
    transition: 0.25s ease;
    margin: 0 auto;
}
.benefit-btn:hover {
    background-color: #194fe6;
}
.cta-btn img,
.benefit-btn img {
    margin-left: 16px;
}
.cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'obviously', sans-serif;
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    padding: 0 25px;
    background-color: rgba(74, 116, 235, 1);
    border-radius: 75px;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;

    z-index: 10;

    transition: 0.25s ease;

    height: 45px;
    text-decoration: none;
}
.cta-btn:hover {
    background-color: #194fe6;
}
@media (max-width: 576px) {
    .cta-btn {
        width: 100%;
    }
    .cta-btn img {
        margin-left: 16px;
    }
}
.benefit-row + .benefit-btn {
    float: left;
}
@media (max-width: 1440px) {
    .teacher-visual {
        transform: scale(1);
    }
}
@media (max-width: 1300px) {
    .teacher-visual {
        transform: scale(0.9);
    }
}
@media (max-width: 1200px) {
    .teacher-visual {
        transform: scale(0.7);
    }
}
@media (max-width: 1024px) {
    .intro-visual {
        z-index: -1;
    }
    .container--intro {
        width: 100%;
        padding: 100px 10%;
        margin: 0;
        max-width: unset;
        height: unset;
    }
    .container--intro .brand-logo {
        display: none;
    }
    .container--intro > .brand-logo--mobile {
        display: block;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 38px;
    }
    .container--intro > .brand-logo--mobile img {
        margin-left: 0;
    }
    h1.intro-heading {
        margin-bottom: 32px;
    }
    .answer__container.answer__container--wide {
        width: 100%;
        padding: 0;
    }
    .container {
        width: 100%;
        padding: 0 5%;
    }
    .answer__container {
        width: 100%;
    }
    .back-button {
        bottom: 10px;
    }
    .benefit-container {
        width: 100%;
        padding-top: 42px;
    }
    .teacher-visual {
        position: static;
        width: 100%;
        transform: scale(1);
        /* padding-left: 20%; */
    }
    .answer__buttons-wrapper .answer__btn {
        width: 100%;
        justify-content: center;
    }
    .classroom-visual {
        position: static;
        z-index: -1;
        transform: unset;
        width: 100%;
        max-width: 100%;

        transform: translateX(0);
    }
    .line-behind-classroom {
        top: unset;
        bottom: 0;
        left: -70px;
    }
}
@media (min-width: 1560px) {
    .teacher-visual {
        transform-origin: unset;
        transform: scale(1.5);
    }
}
@media (max-width: 768px) {
    .back-button {
        width: 28px;
        bottom: 16px;
    }
    .brand-logo {
        margin: 30px auto;
    }
    .progress__wrapper {
        margin-bottom: 0;
        transform: translateY(-40px);
    }

    .answer__buttons-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 10px;
    }
}
.spinner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.spinner img {
    animation: rotate 3s infinite;
    width: 48px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.carousel__prev {
    left: -60px !important;
}
.carousel__next {
    right: -60px !important;
}
.carousel__slide {
    padding: 0.5rem;
}
.carousel__slide img {
    max-width: 100%;
}
.faq-body a {
    color: #000;
    font-weight: 570;
}
.aggree-row {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    margin-bottom: 10px;
}
.aggree-row p {
    font-size: 14px !important;
    font-weight: 300;
    line-height: 20px;
    text-align: left !important;
}
.aggree-label {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; /* 125% */
}
.aggree-label a {
    text-decoration: underline;
    color: #000;
}
.aggree-label a:hover {
    color: #4a74eb;
}
.cta-link {
    font-size: 14px;
    font-style: normal;
    line-height: 28.6px;
    font-weight: 400;
    text-decoration: underline;

    color: #4a74eb;
}
.cta-link:hover {
    text-decoration: none;
}
.d-flex .cta-btn,
.d-flex .cta-link {
    margin-top: 50px;
}
.d-flex .cta-btn {
    margin-right: 32px;
}
.carousel__prev,
.carousel__next {
    border-radius: 50% !important;
    width: 44px !important;
    height: 44px !important;
    background-color: white !important;
}
.stories-carousel {
    padding-top: 100px !important;
    position: relative;
}
.stories-carousel .carousel__slide {
    align-items: flex-start;
}
.stories-carousel .carousel__prev,
.stories-carousel .carousel__next {
    top: 300px;
}
.stories-carousel .carousel__prev {
    left: -20px !important;
}
.stories-carousel .carousel__next {
    right: -20px !important;
}
@media (min-width: 768px) {
    .stories-carousel .carousel__prev,
    .stories-carousel .carousel__next {
        position: absolute;
        right: 0;
        top: 31px;
    }

    .stories-carousel .carousel__prev {
        left: unset !important;
        right: 66px !important;
    }
    .stories-carousel .carousel__next {
        right: 12px !important;
    }
}
.carousel__pagination-button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ddd !important;
}
.carousel__pagination-button::after {
    display: none !important;
}
.carousel__pagination-button--active {
    background-color: #4a74eb !important;
}
.carousel__pagination-item {
    margin: 0 8px;
}
button:disabled {
    cursor: not-allowed;
    background-color: #d1d1d1;
}
button:disabled:hover {
    background-color: #d1d1d1;
}
@media (min-width: 768px) and (max-width: 912px) {
    .list-content .cta-buttons {
        flex-direction: column;
        align-items: flex-start !important;
    }
    .list-content .cta-buttons .cta-btn {
        margin-right: 0;
        margin-top: 32px;
    }

    .list-content .cta-buttons .cta-link {
        margin-top: 32px;
    }
}
